{% extends "base.html" %}
{% block content %}
<h2>Beste getestete Settings (pro Miner)</h2>

<table class="table table-striped table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th>Miner</th>
            <th>Frequenz (MHz)</th>
            <th>Spannung (mV)</th>
            <th>Ø Effizienz (GH/W)</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in top_settings %}
        <tr>
            <td>{{ entry.ip }}</td>
            <td>{{ entry.frequency }}</td>
            <td>{{ entry.coreVoltage }}</td>
            <td>{{ entry.avgEfficiency | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
